Russian User Tweets (Part 1)
- load in both dataframes
- create a new dataframe, joining the tweets data, to the users data 
- (are all users in the tweets table, in the users table?)

(Part 2)
- What user city (from the user's table) has the most tweets?
- filter all tweets, based on the top 5 users, with the most tweets
- From all tweets from the top 5 users, what are the most commonly
used terms? (hint, use the Counter class from collections)
- show a histogram with the distribution of tweet length for these top 5 users


unique users

In [1]:
import pandas as pd

In [3]:
%ls

russian_user_tweets.ipynb  users.csv*
tweets.csv*

In [5]:
#users['user_key'] = users['screen_name'].map(lambda x: x.lower())
#tweets['user_key'] = tweets['user_key'].map(lambda x: x.lower())
df_users = pd.read_csv('users.csv')

df_tweets = pd.read_csv('tweets.csv')

In [8]:
df_tweets.columns

Index(['user_id', 'user_key', 'created_at', 'created_str', 'retweet_count',
       'retweeted', 'favorite_count', 'text', 'tweet_id', 'source', 'hashtags',
       'expanded_urls', 'posted', 'mentions', 'retweeted_status_id',
       'in_reply_to_status_id'],
      dtype='object')

In [9]:
df_users.columns

Index(['id', 'location', 'name', 'followers_count', 'statuses_count',
       'time_zone', 'verified', 'lang', 'screen_name', 'description',
       'created_at', 'favourites_count', 'friends_count', 'listed_count'],
      dtype='object')

In [10]:
pd.merge?

In [12]:
df_joined = pd.merge(df_users, df_tweets, how='left', left_on='id', right_on='user_id')

In [13]:
df_joined.head()

,id,location,name,followers_count,statuses_count,time_zone,verified,lang,screen_name,description,...,favorite_count,text,tweet_id,source,hashtags,expanded_urls,posted,mentions,retweeted_status_id,in_reply_to_status_id
0,18710816.0,near Utah Ave & Lighthouse an,Robby Delaware,304.0,11484.0,Pacific Time (US & Canada),False,en,RobbyDelaware,"I support the free movement of people, ideas a...",...,0.0,Cherchez La Femme! https://t.co/SFTaNlLwlf,7.829581e+17,"<a href=""http://twitter.com/#!/download/ipad"" ...",[],"[""http://www.politico.com/story/2016/10/obama-...",POSTED,[],NaN,NaN
1,18710816.0,near Utah Ave & Lighthouse an,Robby Delaware,304.0,11484.0,Pacific Time (US & Canada),False,en,RobbyDelaware,"I support the free movement of people, ideas a...",...,0.0,"Not exactly ""bombing the shit outta em"" - Trum...",7.797405e+17,"<a href=""http://twitter.com/#!/download/ipad"" ...",[],"[""http://www.globalpolicyjournal.com/blog/31/0...",POSTED,[],NaN,NaN
2,18710816.0,near Utah Ave & Lighthouse an,Robby Delaware,304.0,11484.0,Pacific Time (US & Canada),False,en,RobbyDelaware,"I support the free movement of people, ideas a...",...,0.0,"Once again, Jeff Zucker a 90s-era ""if it bleed...",7.850140e+17,"<a href=""http://twitter.com/#!/download/ipad"" ...",[],"[""http://www.hollywoodreporter.com/news/trump-...",POSTED,[],NaN,NaN
3,18710816.0,near Utah Ave & Lighthouse an,Robby Delaware,304.0,11484.0,Pacific Time (US & Canada),False,en,RobbyDelaware,"I support the free movement of people, ideas a...",...,0.0,I'm sure parents concerned about the profanity...,7.908413e+17,"<a href=""http://twitter.com/#!/download/ipad"" ...",[],"[""https://twitter.com/i/web/status/79084134164...",POSTED,[],NaN,NaN
4,18710816.0,near Utah Ave & Lighthouse an,Robby Delaware,304.0,11484.0,Pacific Time (US & Canada),False,en,RobbyDelaware,"I support the free movement of people, ideas a...",...,0.0,Trump supporters remind me of Bolsheviks. Marx...,7.929479e+17,"<a href=""http://www.apple.com/"" rel=""nofollow""...",[],"[""https://www.yahoo.com/news/trump-campaign-ma...",POSTED,[],NaN,NaN

In [15]:
df_users.head()

,id,location,name,followers_count,statuses_count,time_zone,verified,lang,screen_name,description,created_at,favourites_count,friends_count,listed_count
0,18710816.0,near Utah Ave & Lighthouse an,Robby Delaware,304.0,11484.0,Pacific Time (US & Canada),False,en,RobbyDelaware,"I support the free movement of people, ideas a...",Wed Jan 07 04:38:02 +0000 2009,17.0,670.0,13.0
1,100345056.0,still ⬆️Block⤵️Corner⬇️street,#Ezekiel2517✨...,1053.0,31858.0,NaN,False,en,SCOTTGOHARD,CELEBRITY TRAINER ✨#424W147th✨ #CrossfitCoach ...,Tue Dec 29 23:15:22 +0000 2009,2774.0,1055.0,35.0
2,247165706.0,"Chicago, IL",B E C K S T E R✨,650.0,6742.0,Mountain Time (US & Canada),False,en,Beckster319,Rebecca Lynn Hirschfeld Actress.Model.Writer.A...,Fri Feb 04 06:38:45 +0000 2011,7273.0,896.0,30.0
3,249538861.0,NaN,Chris Osborne,44.0,843.0,NaN,False,en,skatewake1994,NaN,Wed Feb 09 07:38:44 +0000 2011,227.0,154.0,1.0
4,449689677.0,NaN,Рамзан Кадыров,94773.0,10877.0,Moscow,False,ru,KadirovRussia,"Пародийный аккаунт. Озвучиваю то, что политика...",Thu Dec 29 11:31:09 +0000 2011,0.0,7.0,691.0

In [16]:
df_tweets.head()

,user_id,user_key,created_at,created_str,retweet_count,retweeted,favorite_count,text,tweet_id,source,hashtags,expanded_urls,posted,mentions,retweeted_status_id,in_reply_to_status_id
0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,7.123460e+17,NaN,"[""IslamKills""]",[],POSTED,[],NaN,NaN
1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",7.855849e+17,"<a href=""http://twitterfeed.com"" rel=""nofollow...",[],"[""http://detne.ws/2e172jF""]",POSTED,[],NaN,NaN
2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,8.343832e+17,NaN,[],[],POSTED,[],NaN,NaN
3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,8.134006e+17,NaN,"[""ChristmasAftermath""]",[],POSTED,[],NaN,NaN
4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,8.940243e+17,NaN,[],[],POSTED,[],NaN,NaN

In [17]:
df_joined_outer = pd.merge(df_users, df_tweets, how='outer', left_on='id', right_on='user_id')

In [20]:
len(df_joined)

687382

In [19]:
len(df_joined_outer) #since lengths are the same, all users are in tweets table because
#otherwise -- the left join would be shorter because it would have excluded the tweets records
#where that user wasn't present

687382

In [22]:
df_joined['location'].value_counts().head()
#What user city (from the user's table) has the most tweets?

USA               90804
United States     17526
Atlanta            9114
Pittsburgh, US     6652
US                 6448
Name: location, dtype: int64

In [27]:
#filter all tweets, based on the top 5 users, with the most tweets  (posted)
#df_joined.groupby('name').agg()
df_top_5_users = df_joined.groupby('name').count().sort_values(by=['posted'], ascending=False)

In [28]:
df_top_5_users.head()

,id,location,followers_count,statuses_count,time_zone,verified,lang,screen_name,description,created_at_x,...,favorite_count,text,tweet_id,source,hashtags,expanded_urls,posted,mentions,retweeted_status_id,in_reply_to_status_id
name,,,,,,,,,,,,,,,,,,,,,
Amelie Baldwin,9269,9269,9269,9269,9269,9269,9269,9269,9269,9269,...,6098,9269,9262,6098,9269,9269,9269,9269,6092,0
Susan,6813,6813,6813,6813,6813,6813,6813,6813,6813,6813,...,3641,6813,6809,3641,6813,6813,6813,6813,3628,0
Giselle Evans,6652,6652,6652,6652,6652,6652,6652,6652,6652,6652,...,287,6652,6593,287,6652,6652,6652,6652,444,1
Blake Cline,4140,4140,4140,4140,4140,4140,4140,4140,4140,4140,...,1001,4140,4138,1001,4140,4140,4140,4140,988,0
Fluffy Melvin,3346,0,3346,3346,3346,3346,3346,3346,3346,3346,...,86,3346,3340,86,3346,3346,3346,3346,179,0

In [29]:
from collections import Counter

In [ ]:
# def count_words(tweets)
#     sents = Counter()
#     words = Counter()
#     for tweet in tweets
#     sents += 1
#     words += 1
#     return sents, words

In [34]:
df_joined['description'].apply(lambda x:'l' if isinstance(x,float) else x.split(' ')).head(-10)

0         [I, support, the, free, movement, of, people,,...
1         [I, support, the, free, movement, of, people,,...
2         [I, support, the, free, movement, of, people,,...
3         [I, support, the, free, movement, of, people,,...
4         [I, support, the, free, movement, of, people,,...
5         [I, support, the, free, movement, of, people,,...
6         [I, support, the, free, movement, of, people,,...
7         [I, support, the, free, movement, of, people,,...
8         [I, support, the, free, movement, of, people,,...
9         [I, support, the, free, movement, of, people,,...
10        [I, support, the, free, movement, of, people,,...
11        [I, support, the, free, movement, of, people,,...
12        [I, support, the, free, movement, of, people,,...
13        [I, support, the, free, movement, of, people,,...
14        [I, support, the, free, movement, of, people,,...
15        [I, support, the, free, movement, of, people,,...
16        [I, support, the, free, movement, of, people,,...
17        [I, support, the, free, movement, of, people,,...
18        [I, support, the, free, movement, of, people,,...
19        [I, support, the, free, movement, of, people,,...
20        [I, support, the, free, movement, of, people,,...
21        [I, support, the, free, movement, of, people,,...
22        [I, support, the, free, movement, of, people,,...
23        [I, support, the, free, movement, of, people,,...
24        [I, support, the, free, movement, of, people,,...
25        [I, support, the, free, movement, of, people,,...
26        [I, support, the, free, movement, of, people,,...
27        [I, support, the, free, movement, of, people,,...
28        [I, support, the, free, movement, of, people,,...
29        [I, support, the, free, movement, of, people,,...
                                ...
687342                                                    l
687343                                                    l
687344                                                    l
687345                                                    l
687346                                                    l
687347                                                    l
687348                                                    l
687349                                                    l
687350                                                    l
687351                                                    l
687352                                                    l
687353                                                    l
687354                                                    l
687355                                                    l
687356                                                    l
687357                                                    l
687358                                                    l
687359                                                    l
687360                                                    l
687361                                                    l
687362                                                    l
687363                                                    l
687364                                                    l
687365                                                    l
687366                                                    l
687367                                                    l
687368                                                    l
687369                                                    l
687370                                                    l
687371                                                    l
Name: description, Length: 687372, dtype: object

In [ ]:
#create new col w contents of that
#make mask of top 5 users. 
#maybe grab all those words into one structure and count those values.